<form #loginForm="ngForm">
  <ion-item class="smooth-border">
    <ion-input type="email" label="{{ 'LOGIN.EMAIL' | translate }}" labelPlacement="stacked"
      placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}" [(ngModel)]="email" name="email"
      errorText="{{ 'LOGIN.INVALID_EMAIL' | translate }}" email autocomplete="email" required>
    </ion-input>
  </ion-item>
  <div class="d-flex justify-content-center pt-3">
    <ion-button type="submit" shape="round" expand="block" [disabled]="loginForm.invalid" (click)="reset()"
      class="w-75">
      {{ 'LOGIN.RESET_PASSWORD' | translate }}
    </ion-button>
  </div>
</form>