<ion-content>
  <div class="col centered">
    <form #loginForm="ngForm">
      <ion-item class="smooth-border-top">
        <ion-input type="email" label="{{ 'LOGIN.EMAIL' | translate }}" labelPlacement="stacked"
          placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}" [(ngModel)]="email" name="email"
          errorText="{{ 'LOGIN.INVALID_EMAIL' | translate }}" email autocomplete="email" required>
        </ion-input>
      </ion-item>
      <ion-item class="smooth-border-bottom">
        <ion-input type="password" label="{{ 'LOGIN.PASSWORD' | translate }}" labelPlacement="stacked"
          placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}" [(ngModel)]="password" name="password"
          autocomplete="current-password" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <p><a href="#" class="right">{{ 'LOGIN.PASSWORD_RESET' | translate }}</a></p>
      <ion-button type="submit" class="ion-padding" expand="block" [disabled]="loginForm.invalid" (click)="login()">
        {{ 'LOGIN.LOGIN' | translate }}
      </ion-button>
      <p class="centered">{{ 'LOGIN.NO_ACCOUNT' | translate }}<a href="#" class="pl">{{ 'LOGIN.SIGN_UP' | translate }}</a></p>
    </form>
  </div>
  <ion-toast [isOpen]="showToast" message="{{ 'LOGIN.INVALID' | translate }}" [duration]="2000"
    (didDismiss)="showToast = false" [buttons]="dismissButton"></ion-toast>
</ion-content>