<ion-tabs>
  <!-- BAR -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="reader-outline"></ion-icon>
      {{ 'FEED.FEED' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="communities">
      <ion-icon name="people-outline"></ion-icon>
      {{ 'COMMUNITIES.COMMUNITIES' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      {{ 'PROFILE.PROFILE' | translate }}
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      {{ 'SETTINGS.SETTINGS' | translate }}
    </ion-tab-button>
  </ion-tab-bar>
  <!-- CONTENT -->
  <ion-tab tab="feed">
    <ion-content>
      <feed *ngIf="user" [user]="user"></feed>
    </ion-content>
  </ion-tab>
  <ion-tab tab="communities">
    <ion-content>
      <communities></communities>
    </ion-content>
  </ion-tab>
  <ion-tab tab="profile">
    <ion-content>
      <app-profile *ngIf="user" [user]="user"></app-profile>
    </ion-content>
  </ion-tab>
  <ion-tab tab="settings">
    <ion-content>
      <app-settings></app-settings>
    </ion-content>
  </ion-tab>
</ion-tabs>