<div id="profile-tab" class="ion-padding h-100">
  <div class="d-flex flex-column align-items-center justify-content-center h-25">
    <ion-icon name="person-circle-outline" style="font-size: 90px;" class="pb-2"></ion-icon>
    <p>{{ userName }}</p>
  </div>
  <ion-item class="smooth-border-top">
    <ion-label>
      <label for="birthday">{{ 'PROFILE.BIRTHDAY' | translate }}</label>
      <p id="birthday">{{ userBirthDay | date: 'dd MMMM yyyy' }}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
      <p id="email">{{ userEmail }}</p>
    </ion-label>
  </ion-item>
  <ion-item class="smooth-border-bottom">
    <ion-label>
      <label for="phone">{{ 'PROFILE.PHONE' | translate }}</label>
      <p id="phone">{{ userPhone }}</p>
    </ion-label>
  </ion-item>
  <div class="d-flex justify-content-center mt-5">
    <ion-button type="submit" shape="round" (click)="edit()" class="w-50">
      {{ 'PROFILE.EDIT' | translate }}
    </ion-button>
  </div>
</div>